html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
/* Navigation */
html {
  background-color: #e5eaf5;
  color: black;
  /* Medium Purple: #d0bdf4
  

Purple Pain: #8458B3

Heavy Purple: #a28089 */
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.sidebyside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
nav {
  background-color: #a0d2eb;
}

.nav-links-container {
  display: flex;
  gap: 35px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.controller-container {
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  rotate: 90;
  animation: wiggle 5s linear infinite;
  transform: rotate(90deg);
  filter: drop-shadow(0 0 0.5rem lightgrey);
}

header {
  text-align: center;
  height: 100vh;
}

.reasons-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.single-reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100px;
  border: 3px solid #000;
}

.row {
  padding: 50px 50px;
}

/* Top Games */
.games-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

h2 {
  text-align: center;
  padding-bottom: 50px;
  color: #06202d;
  font-size: 28px;
  font-weight: 900;
}

.four {
  flex-wrap: wrap-reverse;
}

.games-size {
  width: 200px;
  height: 155px;
}
img {
  width: 100%;
  height: 100%;
}
.singlegame-container,
.singlegames-container {
  transition: 500ms ease;
}

.singlegame-container:hover {
  transform: translateY(-5px);
}
.singlegames-container:hover {
  transform: translateY(-5px);
}

.info-contrainer {
  padding-top: 10px;
}

.on-sale {
  padding-right: 8px;
  text-decoration: 1.5px line-through;
  color: grey;
}

.games-row {
  flex-direction: column;
  align-items: center;
}

/* More Games */

button {
  cursor: pointer;
  border: 3px solid #a0d2eb;
  background-color: #a0d2eb;
  height: 50px;
  width: 200px;
  transition: 300ms ease;
}
button:hover {
  background-color: transparent;
}
.more-games {
  text-align: center;
}
/* footer */

footer {
  text-align: center;
}
